@font-face {
    font-family: 'oliv';
    src: url('..fonts/olivier_demo-webfont.eot');
    src: url('..fonts/olivier_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('..fonts/olivier_demo-webfont.woff2') format('woff2'),
         url('..fonts/olivier_demo-webfont.woff') format('woff'),
         url('..fonts/olivier_demo-webfont.ttf') format('truetype'),
         url('..fonts/olivier_demo-webfont.svg#olivierregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    min-width: 500px;
}

h1 {
    color: #fff;
    display: inline;
    font-size: 2em;
    font-family: 'oliv'; 
}
h2 {
    color: #fff;
    display: inline;
    text-align: center;
    font-family: 'oliv'; 
}

h3 {
    font-family: 'oliv';
    color: #fff;
    display: inline;
    text-align: center;    
}

body {
    background-color: #fff2df;
}
header {
    height: 200px;
    margin-top: 30px;
}

aside.contact {
        display:none;
}
.searchbox {
    margin: 25% auto 0 10%;
}
nav ul {
    color: white;
    list-style-type: none;
    margin: 25% 0 0 25%;
}
img.icon {
    margin: 0 auto 0 5%;
}
nav ul li {
    display: inline-block;
    margin-left: 7px;
}
nav ul li a {
    color: #6f372e;
    font-size: 20px;
    font-family: "oliv";
    font-size: 1.6em;    
}
nav ul li a:hover {
    color: #f5c55d;
}

.index-image {
    background-image: url(..images/indonesia-sulawesi.jpg);
    background-size: cover;
    margin-bottom: 20px;
    margin-left: 7.5%;
    width: 85%;
    height: 163px;
}

.mainbean {
    margin: 0 auto;
    width: 85%;
}
.img-rounded {
    margin-bottom: 20px;
    margin-left: 7.5%;
    width: 85%;
}
footer {
    background-color: #6f372e;
    clear: both;
    margin-top: 30px;
}

footer p {
    color: white;
    display: inline;
    font-size: 1.5em;
    line-height: 100px;
}
.overview {
    background-color: #f5c55d;
    margin: 10px 5px;
    border-radius: 8px;
    padding: 5px;
    height: 310px;
}

.about-overview {
    background-color: #f5c55d;
    margin: 10px 5px;
    border-radius: 8px;
    padding: 5px;

}

hr {
    border: 1px solid #6f372e;
    width: 75%;
    clear:both;
}
.overview h3, .review p {
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
}

.overview p {
    display: inline;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.review {
    margin: 0 0 -15px 25px;
    padding-top: 15px;
}


/*.review img {
    margin-left: 3.8em;
}*/

.profile-title {
    float:left;
    width:70%;
}
.dig-count {
    float:right;
    width:30%;   
}

.dig-count img {
    margin: 0px auto;
    float: none;
    display: block;
}

.fa-facebook, .fa-instagram {
    color: white;
    display: block;
    font-size: 30px;
}
.fa-facebook:hover, .fa-instagram:hover {
    color: #f5c55d;
}
.social {
    padding-left: 12%;
    padding-top: 3%;
}
.copy {
    padding-left: 12%;
}
q {
    display: block;
    font-style: italic;
    text-align: center;
}
blockquote {
    display: inline;
    border-left:none;
}


/*About Page Styles*/
h3.about {
    display: block;
    padding-top: 20px;
    text-align: center;
}
.about-pic img {
    border: 6px solid #6f372e;
    max-height: 100%;
    max-width: 100%;
}
.about-pic {
    margin: 10px 5px;
    padding-top: 15px;
    display: block;
    text-align: center;
}

.about-info p{
  	display: block;
  	text-align: justify;
  	padding-bottom: 25px;
	
}

ul.about-lists li {
    display: block;
    text-align: justify;

}

.about-lists li {
    padding-bottom: 25px;

}

.about-lists li.bold {
    font-weight: bold;
  	padding-bottom: 0px;
}


.about-headings {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

/*End About Page Styles*/

/*Contact Page Styles*/

.contact {
    background-color: #6f372e;
    height: 60px;
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
     transform-style: preserve-3d;
}

.contact h1 {
  color: #ffffff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.contactbody {
	width:75%;
	margin:0 auto;
}


.contact-form {
    margin-top: 30px;
    padding: 0px 0px 40px 20%;
    width: 50%;
}


.contact-lable {
    color: #6f372e;
    display: block;
}

.contact-lable > h3 {
    color: #6f372e;
}

.contact-input {
    color: #6f372e;
    font-size: 18px;
}

.btn-group-lg {
    margin-top: 10px;
}
.contact-submit {
    background-color: #6f372e;
    background-image: none;
    border:none;
    color: #ffffff;
}
.contact-submit:hover {
    background-color: #f5c55d !important;
    background-image: none !important;
    border: none;
}
.thankyou {
    margin: -20px 0 30px;
}

/*End Contact Page Styles*/


#content {
    float: left;
    padding: 26px 15px;
    width: 290px;
}
#middle {
    float: left;
    margin: 0 5px 5px 5px;
    padding: 5px 15px;
    width: 49%;
}
#sidebar {
    float: left;
    padding: 26px 15px;
    width: 270px;
}
#side-box {
    background-color: #6f372e;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 10px;
    width: 270px;
}

/*Profile Page Styles*/

.profile-overview {
    margin: 10px 5px;
}
hr.profile {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color rgb(111, 55, 46);
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: 0;
    width: 100%;
    border-bottom: 1px solid rgb(111, 55, 46);  
}
.profile-overview h3 {
    color: #6f372e;
    display: inline;
    font-size: 2em;    
    font-weight: bold;
    line-height: 2.2em;
}
.profile-review p {
    color: #5d5d5d;
    display: inline;
    font-size: 18px;
    margin: 0 0 10px 10px;
}
.profile-review {
    margin: 0 0 -15px 10px;
    padding-top: 15px;
}
.profile-p p {
    margin: 0 0 10px 10px;
}
h1.profile-h1 {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 10px 10px;
}
.profile-review img {
    display: inline;
    margin-left: 1.8em;
    margin-top: -9px;
}

button.dig{
	background-color: #ffae00;
    border: medium none;
    border-radius: 10px;
    color: #6f372e;
    display: block;
    float: right;
    font-size: 20px;
    font-weight: 100;
    height: 40px;
    width: 88px;
    margin-top: 10px;    
}

p.dig-score {
    color: #FFAE00;
    font-size: 3em;
    float:left;
}

.dig-container {
    width: 150px;
    float:right;
}

button.dig:hover {
cursor: pointer;
background-color: #FABD44;

}

button:active {
outline: none;
border: none;
}

button:focus {outline:0;}

img.button-dig {
    display: inline;
    float: right;
	margin: 1px 13px;
}

#icon-user-middle {
    float: left;
    height: 100px;
    line-height: 30px;
    padding: 5px;
    width: 70px;
}
#comments-user-middle {
    float: left;
    padding: 13px;
    width: 380px;
}
img.content {
    border: 1px solid #4d3725;
    width: 100%;
}
img.user {
    width: 100%;
}
img.aside-box {
    border: medium solid #ffffff;
    margin-top: 17px;
    text-align: center;
    width: 80%;
}
#icon-coffee-left {
    float: left;
    height: 70px;
    line-height: 30px;
    padding: 5px;
    width: 60px;
}
#description-coffee-left {
    float: left;
    padding: 13px;
    width: 180px;
}
img.coffee-logo {
    width: 60px;
}
#right-sidebar {
    background: #6f372e none repeat scroll 0 0;
    float: right;
    margin: 26px 15px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    width: 250px;
}
.sidebar {
    float: left;
    overflow: hidden;
    padding: 2em 0 0;
}
.inner-aside {
    height: 300px;
}
.inner-aside-2 {
    height: 245px;
    padding: 12px 0 0 10px;
    text-align: left;
}
#form-style {
    border-radius: 10px;
    float: right;
    height: 220px;
    margin: 10px 0 0;
    position: relative;
    text-decoration: none;
    width: 220px;
}
label.newsletter-1 {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
}
#name-sub {
    border: medium none;
    border-radius: 10px;
    display: block;
    font-size: 20px;
    font-weight: 100;
    height: 38px;
    padding-left: 10px;
    width: 194px;
}
#submit-sub {
    background-color: #ffae00;
    border: medium none;
    border-radius: 10px;
    color: #6f372e;
    display: block;
    float: right;
    font-size: 20px;
    font-weight: 100;
    height: 40px;
    margin: -5px 19px 10px;
    width: 88px;
}
a {
    text-decoration: none;
}


/*Home Filter Function Styles*/

.filter {
    background-color: #6f372e;
    height: 80px;
    padding-left: 10%;
    padding-top: 24px;
}

ul.filter-function {  
    list-style: none; 
    margin: 0 auto; 
    padding:10px;
    width: 80%;
}

ul.filter-function,
ul.filter-function li { 
    z-index:999;       
}

ul.filter-function li { 
    float: left;
    line-height: 16px;
    margin-right: 10px;
    padding-right: 10px;
    }

ul.filter-function li:last-child { 
      border-right: none; 
      margin-right: 0; 
      padding-right: 0; 
    }

ul.filter-function li.current a, 
ul.filter-function a:hover { 
      text-decoration: underline; 
    }

ul.filter-function li.current a { 
      font-weight: bold; 
    }


ul.filter-function li {
    display: block;
    float: left;
    position:relative;
    font-size: 1.7em;
    text-align: center;
}

ul.filter-function li a,
.filter-title {
    display: block;
    white-space: nowrap;
    line-height: 33px;
    width:125px;
    color: #FFF2DF;

} 

ul.filter-function li ul {
    display:none;
    width:200px;
    position:absolute;
    left:0;
    top:22px;
}

ul.filter-function li ul li {
    float: none;
    font-size: 1em;
}

ul.filter-function li:hover > ul {
    display:block;
}

ul.filter-function li ul li a {
  background: #6f372e;
  padding: 5px;
  width: 200px;
}

ul.filter-function li ul li a:hover {
    background-color: #F5C55D;
}

ul.filter-function li:hover ul {
    display: block;
    position: absolute;
    left:0px;
}    
    
ul.mainbean { 
    float: left; 
    list-style: none; 
    margin-left: 0; 
    width: 100%;
    }

ul.mainbean div { 
    float: left; 
    margin: 0 10px 10px 0; 
    padding: 5px;
    background-color: #F5C55D;
    }

ul.mainbean a { 
      display: block; 
      width: 100%; 
    }
ul.mainbean a:hover { 
      text-decoration: none; 
    }

ul.mainbean img { 
      display: block; 
      padding-bottom: 5px; 
      width:100%; 
    }
/*End Home Filter Function Styles*/

/**
  Tutorial : Comments System with Reply Usong jQuery & Ajax
  Author: Amine Kacem
  Author URI: http://www.webcodo.com
*/

/* the comments styles  */
.cmt-container{ 
	width: 540px;
	height: auto; min-height: 30px;
	padding: 10px;
	margin: 10px auto;
	background-color: #fff;
	border: #d3d6db 1px solid;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    clear:both;
    float:left;
	max-width: 100%;
} 

.cmt-cnt{
	width: 100%; height: auto; min-height: 35px; 
	padding: 5px 0;
	overflow: auto;
}
.cmt-cnt img{
	width: 35px; height: 35px; 
	float: left; 
	margin-right: 10px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	background-color: #ccc;
}
.thecom{
	width: auto; height: auto; min-height: 35px; 
	background-color: #fff;
}
.thecom h5{
	display: inline;
	float: left;
	font-family: tahoma;
	font-size: 13px;
	color: #3b5998;
	margin: 0 15px 0 0;
}
.thecom .com-dt{
	display: inline;
	float: left;
	font-size: 12px; 
	line-height: 18px;
	color: #ccc;
}
.thecom p{
	width: auto;
	margin: 5px 5px 5px 45px;
	color: #4e5665;
}
.new-com-bt{
	width: 100%; 	height: 30px;
	border: #d3d7dc 1px solid;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	background-color: #f9f9f9;
	color: #adb2bb;
	cursor: text;
}
.new-com-bt span{
	display: inline;
	font-size: 13px;
	margin-left: 10px;
	line-height: 30px;
}
.new-com-cnt{ width: 100%; height: auto; min-height: 110px; }
.the-new-com{ /* textarea */
	width: 98%; height: auto; min-height: 70px;
	padding: 5px; margin-bottom: 8px;
	border: #d3d7dc 1px solid;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	background-color: #f9f9f9;
	color: #333;
	resize: none;
}
.new-com-cnt input[type="text"]{
	margin: 0;
	height: 20px;
	padding: 5px;
	border: #d3d7dc 1px solid;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	background-color: #f9f9f9;
	color: #333;
	margin-bottom:5px;
}
.cmt-container textarea:focus, .new-com-cnt input[type="text"]:focus{
	border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.4);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.4);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.4);
}
.bt-add-com{
	display: inline;
	float: left;
	padding: 8px 10px;  margin-right: 10px;
	background-color: #3498db;
	color: #fff; cursor: pointer;
	opacity: 0.6;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.bt-cancel-com{
	display: inline;
	float: left;
	padding: 8px 10px; 
	border: #d9d9d9 1px solid;
	background-color: #fff;
	color: #404040;	cursor: pointer;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
.new-com-cnt{ 
	width:100%; height: auto; 
	display: none;
	padding-top: 10px; margin-bottom: 10px;
	border-top: #d9d9d9 1px dotted;
}


/* Css Shadow Effect for the prod-box and prod-box-list div */
 .shadow{
    -webkit-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.31);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.31);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.31);
}

/*End Comment Styles*/

@media (max-width: 1600px) {
    .filter {
        padding-left: 8%;
    }
}

@media (max-width: 1570px) {
    .filter {
        padding-left: 7%;
    }
}

@media (max-width: 1550px) {
    .filter {
        padding-left: 6%;
    }
}

@media (max-width: 1520px) {
    .filter {
        padding-left: 5%;
    }
}

@media (max-width: 1500px) {
    .filter {
        padding-left: 4%;
    }
}

@media (max-width: 1450px) {

    .contact-form {
            padding-left:20%;
    }

    .index.filter {
        height: 100px;
        padding-left:0px;
    }
    
}

@media (max-width: 1200px) {
aside {
	float: left;	
	}
}

@media (max-width: 1000px) {
button.dig {
	clear: both;
	background-color: #ffae00;
    border: medium none;
    border-radius: 10px;
    color: #6f372e;
    display: block;
    float: right;
    font-size: 20px;
    font-weight: 100;
    height: 40px;
    -webkit-margin: -9px 92px 0px;
	-moz-margin: -9px 92px 0px;
    width: 88px;
	}
}

@media (max-width: 991px) {

nav {
	float:right;	    	
	margin-top:-20px;
	
}

nav ul {
    text-align:right;
    margin: 40px 18%;
}


.search {
	padding-left:-50px;
	height:40px;
	top:-85px;
        float: right;
        margin-right: 5%;	
}

h3.search-title {
    color:#6f372e;
}

    
footer {
	text-align:center;
}
	
footer p {
    font-size:1.5em ;
    color:white;
      line-height: 50px;
}


.social,
.copy {
    padding-top: 0;
    padding-left: 0;
	
}

.overview {
    height:auto;
}



nav {

margin:0 auto;

}

.logo a img {
	width:168px;
}

header {
	height:auto;
	margin-bottom:20px;
        height: 150px;
}
.profile-review{
	display: table-header-group;
	float: left;
        width: 100%;
}


#content{
    width:80%;
    margin: 0 auto;
    float: none;
}

#middle{
    float: left;
    margin: 0 5px 5px 5px;
    padding: 5px 15px;
    width: 80%;
}

#description-coffee-left {
	display: none;

}

#icon-coffee-left {
	float: left;
    height: 100px;
	width: 25%;
	text-align: center;
	}
}

@media (max-width: 767px) {

    
ul.filter-function li {
    font-size: 1.4em;
}    

.contact-form {
	padding-left:5%;
}


.about {
	height:5px;
	z-index:100;
}


.logo a img {
	width:160px;
	float:left;
}

.search {
	float:right;
	width:200px;
	margin: 13px 8px;

}


.index.filter {
        height: 130px;
    }
	
#description-coffee-left {
	display: none;
}
}

@media (max-width: 600px) {

    ul.filter-function {  

        width: 100%;
        padding-left:5%;
    }
}

@media (max-width: 567px){
button.dig {
    clear: both;
    background-color: #ffae00;
    border: medium none;
    border-radius: 10px;
    color: #6f372e;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 100;
    height: 40px;
    -webkit-margin: -8px 10px -36px 172px;
	-moz-margin: -9px 92px 0px;
    width: 88px;
}

#description-coffee-left {
	display: none;
}


}

